.GSW_Affordability .GSW_Aff_parent {
   /*margin-top: 50px;
	margin-left: 50px;
	display: inline-block;
	border: none;
	*/
   margin: auto;
   width: 50%;
   margin-left: 12%;
}
.GSW_Affordability .GSW_Aff_pointer {
   cursor: pointer;
}
.GSW_Affordability .GSW_Aff_zone {
   border-color: rgba(0, 0, 0, 0);
}
/*.GSW_Affordability .GSW_Aff_zone_highlighted {
    background-color: rgba(0, 0, 0, 0.5)
}*/

.GSW_Affordability .GSW_Aff_gridRow {
   display: flex;
   border: none;
   width: 100%;
   padding: 0px;
   margin: 0px;
}

.GSW_Affordability .GSW_Aff_gridCell {
   height: calc(100% - 2px);
   padding: 0px;
   margin: 0px;
}
/*GSW_Affordability .GSW_Aff_gridCell.zone:hover{
    background-image: url(7.png);
}*/
.GSW_Affordability .GSW_Aff_grid {
   /*display: inline-block;*/
   margin: auto;
}

.GSW_Affordability .GSW_Aff_fake_img {
   display: none;
}

.GSW_Affordability .GSW_Aff_glass {
   display: none;
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1;
}

.GSW_Affordability .GSW_Aff_page_wrap.blured {
   filter: blur(2px);
   -webkit-filter: blur(2px);
   -moz-filter: blur(2px);
}
/* Modal window is fixed in size and position */
.GSW_Affordability .GSW_Aff_modal {
   display: none;
   position: fixed;
   width: 50vw;
   height: 25vh;
   top: 25vh;
   left: 25vw;
   z-index: 10;
}
/* Close button */
.GSW_Affordability .GSW_Aff_modal .closeButtonWrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.GSW_Affordability .GSW_Aff_modal .closeButtonWrapper button {
   color: #black;
   float: right;
   font-size: 1em;
   font-weight: bold;   
   margin-right: 1em;
   margin-bottom: -4em;
    margin-top: 0.7em;
    border-radius: 1.4em;
    margin-right: 1em;
}
.GSW_Affordability .GSW_Aff_modal .closeButtonWrapper span:hover,
.GSW_Affordability .GSW_Aff_modal .closeButtonWrapper span:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
/* Modal content is a FLEX container */
.GSW_Affordability .GSW_Aff_modal .GSW_Aff_modal_content {
   display: -webkit-flex;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #a6d8cc;
   border-radius: 20px;
   padding: 20px;
}
/* Elements of the modal container have one (single) fixed dimension */
.GSW_Affordability .GSW_Aff_modal .GSW_Aff_modal_content .GSW_Aff_modal_img {
   width: 160px;
}
.GSW_Affordability .GSW_Aff_modal .GSW_Aff_modal_content .GSW_Aff_modal_text {
   font-size: 1.2em;
   color: #1c4180;
   margin-left: 20px;
   margin-right: 4em;
}
.GSW_Affordability .GSW_Aff_modal .GSW_Aff_modal_content .GSW_Aff_modal_text a {
   font-style: bold;
   text-decoration: underline;
   color: white;
}

